.error-messages {
  @apply mt-4 py-4 px-8 rounded bg-white text-red-500;
}

.note-edit, .note-view {
  @apply inline-block w-full rounded bg-white px-5 py-5 flex flex-col flex-wrap h-full content-center;

  form {
    @apply w-full mb-0;
  }

  &-title {
    @apply m-4 text-hot-orange font-bold;
  }
  &-section {
    @apply mx-1 my-1 flex flex-wrap w-full;
    &-shrink {
      @apply flex-shrink;
    }
    &-grow {
      @apply flex-grow;
    }
    &-field {
      @apply w-full px-3 mb-2;
      label {
        @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
      }
      span {
        @apply text-red-600 ml-4;
      }
      input {
        @apply appearance-none block w-full bg-ash-gray-lighter text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
        &:focus {
          @apply outline-none shadow;
        }
      }
      button {
        &.submit {
          @apply shadow border border-hot-orange text-hot-orange font-bold py-2 px-4 rounded w-full;
          &:not(:disabled):hover {
            @apply bg-red-200;
          }
          &:focus {
            @apply outline-none;
          }
          &:disabled {
            @apply border-gray-500 text-gray-500;
          }
        }
      }
      &-tab {
        @apply bg-white border-b border-hot-orange mb-3;
        z-index: 1;
        nav {
          @apply flex flex-row px-1 rounded-t-md;
          z-index: 1;
          button {
            @apply bg-white rounded-t-md text-gray-400 py-1 px-6 border-ash-gray border block hover:text-hot-orange hover:border-ash-gray focus:outline-none;
            position: relative;
            z-index: 0;
            &.active {
              @apply font-medium border-hot-orange border-b-0 text-hot-orange -mb-px;
              z-index: 2;
            }
          }
        }
      }
      &-contents { 
        textarea {
          @apply appearance-none block w-full bg-ash-gray-lighter text-gray-700 border border-ash-gray rounded py-3 px-4 leading-tight min-h-screen-1/2;
          &:focus {
            @apply outline-none shadow;
          }
        }
        &-preview {
          @apply appearance-none block w-full bg-ash-gray-lighter text-gray-700 border border-ash-gray rounded py-3 px-4 leading-tight min-h-screen-1/2;
        }
      }
    }
    &-display {
      @apply flex w-full h-full;
      &-header {
        @apply block w-full border-b-2 border-hot-orange;
        &-title {
          @apply block w-full text-gray-700 text-3xl py-2 px-4 leading-tight;
        }
        &-info {
          @apply flex flex-wrap justify-between place-items-center;
          &-tags {
            @apply flex-initial text-gray-500 text-sm pb-1.5 px-4 leading-tight;
            span {
              @apply inline-block my-0.5 text-xs font-medium py-1 px-2 mr-1 rounded align-middle;
            }
          }
          &-time {
            @apply flex-initial text-gray-500 text-sm pb-2 px-4 leading-tight;
            span {
              @apply pr-2;
            }
          }
        }
      }
      &-contents {
        @apply flex w-full min-h-1/2 block w-full rounded bg-ash-gray-lighter text-gray-700 border-gray-400 py-6 px-4 mt-2;
      }
    }
  }
}

.note-index {
  @apply inline-block min-w-full h-full bg-white px-5 pt-5 flex flex-col flex-wrap;
  &-table {
    @apply table-fixed min-w-full w-full;
    thead {
      tr {
        @apply border-b-2 border-gray-300 text-left leading-4 text-hot-orange tracking-wider;
        th {
          @apply pl-3 pb-3;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          @apply bg-azure-blue-lightest;
        }
        td {
          @apply px-3 py-1 border-b border-ash-gray;
          span {
            @apply text-sm font-medium py-1 px-2 rounded align-middle;
          }
        }
      }
    }
  }
  &-nav {
    @apply mt-4 mx-3;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.closed {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
