.tagify {
  @apply bg-ghost-white rounded;
  --tags-border-color: #d6d6d6 !important; // ash-gray
  --tags-focus-border-color: #ff2d20 !important; // laravel-red
}
.tagify__input {
  &::after {
    /* content: attr(data-suggest); */
    content: unset !important;
    display: inline-block !important;
    white-space: pre !important;
    color: #000 !important;
    opacity: 0.3 !important;
    pointer-events: none !important;
    max-width: 100px !important;
    background-color: #f5f5fa !important;
  }
}
.tagify__tag {
  > div {
    > span {
      @apply m-0;
    }
  }
}
