@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "ionicons";

@import "tagify";
@import "class";
@import "note";
@import "alpine";
@import "docs";
